/* Global styles */
body h1{
  color: #111; /* Darkest black */
  font-weight: 900; /* Bold */
  font-family: "Love Lady";
}

/* Login form styles */
.login-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.login-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure video covers the entire viewport */
  z-index: -1;
}

.login-container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-form {
  background-color: transparent;
  opacity: 0.7; /* Set the background opacity */
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow:none;
  color: #111; /* Darkest black */
}

.login-form h2,h1,h3 {
  font-size: 32px;
  margin-bottom: 20px;
}

.login-form input {
  width: 60%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: rgba(0, 0, 0, 0.1); /* Transparent background */
  color: #111; /* Darkest black */
  font-weight: 900; /* Bold */
}

.login-form button {
  width: 50%;
  padding: 5px;
  border: none;
  border-radius: 10px;
  background-color: #8b4513; /* Coffee color */
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Love Lady"; /* Setting the font family for the button */
  font-weight: 900; /* Bold */
}

.login-form button:hover {
  background-color: #654321; /* Darker coffee color on hover */
}

.login-form p {
  margin-top: 20px;
}

.login-form a {
  color: #111; /* Darkest black */
  text-decoration: none;
}

.login-form a:hover {
  text-decoration: underline;
}
